{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}

{% set params = craft.entries.section('comics').order('postDate desc, id asc') %}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{% block content %}
	<article class="comic is-single" data-page="{{ entry.url|replace((siteUrl), '/') }}" data-page-title="{{ entry.title }}">
		<h1>{{ entry.title }}</h1>
		<div class="meta user-content">
			<div class="body">{{ entry.body }}</div>
			<div class="info">{{ entry.shortDescription }}</div>
		</div>
		{% for image in entry.comicPages %}
			<div class="ratiowrap" style="padding-bottom:{{ image.height / image.width * 100 }}%;max-width:{{ image.width }}px;max-height:{{ image.height }}px">
				<img class="lazy wrapped" data-original="{{ image.getUrl() }}" alt="{{ entry.title }}">
			</div>
		{% endfor %}
	</article>

	{% include "partials/_pagination" %}
{% endblock %}
