craft/storage/runtime/*
craft/storage/backups/*
public/assets/bower_components/*

.DS_Store
.scss-cache/*
.gulp-scss-cache/*
node_modules/*
logs/*
.env
_env.php
*.pyc
_thumb/*
vendor/*
public/.well-known
public/assets/site/_thumb/*
