/.env
/.idea
/vendor
.DS_Store
.nova
.zed

# Build
node_modules
*.js.map
*.css.map
wrk

# Letsencrypt
.well-known

# Fabfile
*.pyc

# Bower
bower_components

# Treated images
web/imager

# Ignore revisioned assets
web/assets
