{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}

{% block content %}
	<article class="featured modal-content" data-section="featured" data-page="{{ entry.url|replace((siteUrl), '/') }}" data-page-title="{{ entry.title }}">
		<h1>{{ entry.title }}</h1>
		<div class="description">
			{{ entry.body }}
		</div>
		{% for image in entry.featureImages %}
			<img src="{{ image.getUrl() }}" alt="{{ entry.title }}">
		{% endfor %}
	</article>
{% endblock %}
