{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}

{% set params = craft.entries.section('featured').order('postDate desc, id asc') %}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{% block content %}
	<article class="featured is-single" data-section="featured" data-page="{{ entry.url|replace((siteUrl), '/') }}" data-page-title="{{ entry.title }}">
		<h1>{{ entry.title }}</h1>
		<div class="description user-content">
			{{ entry.body }}
		</div>
		{% for image in entry.featureImages %}
			<img class="lazy" data-original="{{ image.getUrl() }}" alt="{{ entry.title }}">
		{% endfor %}
	</article>

	{% include "partials/_pagination" %}
{% endblock %}
