{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "Featured" %}
{% set description = "My finest work, aged like cheese." %}

{% block content %}
	{% cache %}
	<section class="featured-list image-list page-content" data-page="{{ craft.request.url|replace((siteUrl), '/') }}" data-page-title="{{ title }}">
		<div class="masonryme">
		{% for entry in craft.entries.section('featured').find() %}
			{% set front_image = entry.featuredImage.last() %}
			{% if front_image %}
			<article class="bigclicky">
				<div class="ratiowrap" style="padding-bottom: {{ front_image.getHeight('thumb') / front_image.getWidth('thumb') * 100 }}%">
					<img class="lazy wrapped"
						data-original="{{ craft.config.cdnUrl }}{{ front_image.getUrl('thumb1x') }}"
						data-original-set="{{ craft.config.cdnUrl }}{{ front_image.getUrl('thumb1x') }} 250w, {{ craft.config.cdnUrl }}{{ front_image.getUrl('thumb') }} 500w"
						sizes="(max-width: 768px) 100vw, calc((100vw - 90px) / 4)"
						alt="{{ front_image.title }}"
					/>
				</div>
				<h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
			</article>
			{% endif %}
		{% endfor %}
		</div>
	</section>
	{% endcache %}
{% endblock %}
