{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = "Featured" %}

{% block content %}
	<section class="featured-list image-list page-content" data-page="{{ craft.request.url|replace((siteUrl), '/') }}" data-page-title="{{ title }}">
		<div class="masonryme">
		{% for entry in craft.entries.section('featured').find() %}
			{% set front_image = entry.featuredImage.last() %}
			{% if front_image %}
			<article class="bigclicky">
				<div class="wrap">
					<img src="{{ front_image.getUrl() }}" alt="{{ front_image.title }}">
				</div>
				<h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
			</article>
			{% endif %}
		{% endfor %}
		</div>
	</section>
{% endblock %}
