{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}

{% block content %}
	<section class="page-content" data-page="{{ craft.request.url|replace((siteUrl), '/') }}" data-page-title="{{ entry.title }}">
	<div class="body user-content">
		{{ entry.body }}
	</div>
	{% for block in entry.socialBlocks %}
		{% if block.type == "social" %}
			<div class="social">
				<h2><a target="_blank" href="{{ block.socialURL }}">{{ block.header }}</a></h2>
			</div>
		{% endif %}
	{% endfor %}
	</section>
{% endblock %}
