// comics
body.active-comics {
  color: $white;
  background: $comics;
  .comic-pages {
    img {
      margin-bottom: 10px;
    }
  }
  .actions {
    @include clearfix;
  }
  .user-content a {
    @include inline-link($link, $comics);
  }
  .meta {
    margin-bottom: 20px;
  }
  .comic .ratiowrap {
    margin-bottom: 20px;
  }
  .info {
    font: italic 16px/1.5 $serif;
    opacity: 0.5;
  }

  // Desktop styles
  @include min-screen($breakpoint-medium) {
    #natehead {
      top: calc(100vh - 125px);
      left: 50vw;
      transform: scale(.333) translateX(-150%);
    }
    main {
      padding: 80px 70px 150px 20px;
    }
    nav.main a.journal {
      top: 0;
      span {
        left: 0;
        right: 20%
      }
    }
  }
}

// Support various tags to style comics
article.comic {
  // add white bg to comic thumbs
  &.white-bg {
    .comic-pages {
      background: $white;
      padding: 10px;
    }
  }
  // dense comic panels: 3-per at md, 5-per at lg
  &.three-five-per {
    @include min-screen($breakpoint-medium) {
      .comic-pages {
        display: flex;
        flex-flow: row wrap;
        a {
          flex: 0 1 33.3%;
        }
      }
    }
    @include min-screen($breakpoint-large) {
      .comic-pages {
        a {
          flex: 0 1 20%;
        }
      }
    }
  }
}
