// featured
body.active-featured {
  background: $featured;
  main {
    svg {
      stroke: $black;
    }
  }
  .description {
    margin: 20px 0;
  }
  .actions {
    margin: -10px 0 20px;
    @include clearfix;
  }
  .user-content a {
    @include inline-link($link_dark, $featured);
  }
  .lightbox-group span {
    color: $link_dark;
  }
  @include min-screen($breakpoint-medium) {
    main {
      padding: 150px 20px 50px 70px;
    }
    &.active-single main {
      padding: 120px 20px 150px 70px;
    }
    .s,
    .cart,
    .x {
      right: auto;
      top: 68px;
      left: 68px;
    }
    .s {
      left: 108px;
    }
    .cart {
      top: 66px;
      left: 145px;
      .cart-wrap {
        left: 0;
        right: auto;
      }
    }
  }

  .featured-block {
    &.threeper {
      display: flex;
      flex-flow: row wrap;
      a {
        flex: 0 1 50%;
        @include min-screen($breakpoint-medium) {
          flex: 0 1 33.3%;
        }
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .featured-block {
    &.-colored {
      padding: 10px;
      .description {
        &,
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}