// Colors

$white: #fefefe;
$black: #232034;

// Primary:
// $comics: #ff1412;
// $journal: #00597d;
// $about: #cd3b5c;
// $featured: #e1992e;
// $link: #6ccdf5;
// $link_dark: #417B94;
// $cart: #41A343;

// Fall:
// $comics: #D05F5C;
// $journal: #98A761;
// $about: #28AAA2;
// $featured: #574F37;
// $link: #E1A500;
// $link_dark: #194A46;
// $cart: #20A2C1;
// $text: #112738;

// Spring:
// $comics: #7F96C6;
// $journal: #848392;
// $about: #0C3D6E;
// $featured: #67BE41;
// $link: #76DB4C;
// $link_dark: #0C3D6E;
// $text: #2A0D00;
// $cart: $black;

// Summer 2022:
// $comics: #D7DB2F;
// $journal: #4AB7DE;
// $about: #F15454;
// $featured: #6ACA45;
// $link: #7CF0C7;
// $link_dark: #170094;
// $text: $black;
// $cart: $black;

// Fall 2022:
$comics: #767C54;
$journal: #A496A8;
$about: #BA826F;
$featured: #FBDA77;
$link: #2DE911;
$link_dark: #194A46;
$text: #480040;
$cart: #664941;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1500px;

$serif: Rosart, "Georgia Pro", Georgia, serif;
$sans-serif: "Anonymous Pro", monospace;
