#featured-page { background:#378438 url(/feature/papercutter/assets/texture-bg.png); }
#featured-page h1 {
	text-indent:-1000em;
	background:url(/feature/papercutter/assets/h1-papercutter-2.png) no-repeat;
	width:744px; height:187px;
	margin:15px 0 0 -47px;
}
.title { width:100%; }
#featured-page .info { margin-top:10px; }
#featured-page p.description { color:#fff; margin:-40px 0 20px 150px;}
