@import "reset";
@import "variables";
@import "mixins";

// @include min-screen($breakpoint-medium) {
//   padding: 214px 30px 0;
// }

// @include min-screen($breakpoint-nav) {
//   padding-top: 184px;
// }

*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: $comics;
  transition: background-color .25s ease-out;
  font: 15px/1.5 "Anonymous Pro", monospace;
  // letter-spacing: .1em;
  color: #fff;
}
h1 {
  font: italic 24px/1 "Anonymous Pro", monospace;
  margin: 1em 0 .5em;
}
h2,h3 {
  font: italic 18px/1 "Anonymous Pro", monospace;
  margin: 1em 0 .5em;
}
main {
  h1 a,
  h2 a,
  h3 a{
    color: #fff;
  }
}
p {
  margin: 0 0 1em;
}
.hidden {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
}

// big ol' primary nav
nav.main {
  height: 100vh;
  a {
    font: italic 24px/1 "Anonymous Pro", monospace;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-decoration: none;
    display: block;
    position: fixed;
    z-index: 9;
    width: 50%;
    height: 50vh;
    transition: all .3s, border-color 0.01s, background 0.01s, font 0.01s;
    border: 0 solid rgba(0,0,0,0);
    &:hover span {
      text-decoration: underline;
    }

    span {
      display: block;
      position: absolute;
      left: 30%;
      top: 50%;
      transition: top .5s, left .5s, right .5s, bottom .5s;
      transform: translateY(-50%);
    }
    &.journal,
    &.featured {
      span {
        left: auto;
        right: 30%;
      }
    }
    &.comics {
      top: 0;
      left: 0;
      background: $comics;
    }
    &.journal {
      top: 0;
      right: 0;
      background: $journal;
    }
    &.animation {
      bottom: 0;
      left: 0;
      background: $animation;
    }
    &.featured {
      bottom: 0;
      right: 0;
      background: $featured;
    }
  }
}

// primary content area
main {
  padding: 100px 70px 150px 20px;
}

// rotate offside links 90deg
body.active-comics nav.main a.journal,
body.active-journal nav.main a.comics,
body.active-animation nav.main a.featured,
body.active-featured nav.main a.animation {
  height: calc(100% - 50px);
  width: 50px;
  span {
    transform: rotate(90deg);
    transform-origin: top right;
    left: 0;
    right: 20%;
    top: 70px;
  }
}

// active nav item / headers
body.active-animation nav.main a.animation,
body.active-featured nav.main a.featured,
body.active-journal nav.main a.journal,
body.active-comics nav.main a.comics {
  font: italic 30px/1 "Anonymous Pro", monospace;
  background: transparent;
  span {
    // text-shadow: 2px 2px 0 #000;
    text-decoration: underline;
  }
}
body.active-animation nav.main a.animation,
body.active-featured nav.main a.featured {
  bottom: calc(100vh - 100px);
}

// homepage hover effect giant oldskool border madness
body:not(.in-section) {
  nav.main a {
    &.comics {
      &:hover {
        border-bottom: 25vh solid darken($comics, 10%);
        border-right: 25vh solid lighten($comics, 10%);
      }
    }
    &.journal {
      &:hover {
        border-bottom: 25vh solid darken($journal, 10%);
        border-left: 25vh solid lighten($journal, 10%);
      }
    }
    &.animation {
      &:hover {
        border-top: 25vh solid lighten($animation, 10%);
        border-right: 25vh solid darken($animation, 10%);
      }
    }
    &.featured {
      &:hover {
        border-top: 25vh solid lighten($featured, 10%);
        border-left: 25vh solid darken($featured, 10%);
      }
    }
  }
}

// single pages & journal lists
.journal-list article,
.modal-content {
  @include clearfix;
  max-width: 750px;
  margin: 0 auto;
}
.modal-content,
.page-content {
  opacity: 0;
  transform-origin: top center;
  transform: scale(.98);
  transition: all .5s ease-out;
}
main.loaded {
  .modal-content,
  .page-content {
    transform: scale(1);
    opacity: 1;
  }
}

// giant SVG head
#natehead {
  pointer-events: none;
  position: fixed;
  transition: all .25s ease-out;
  transform-origin: top center;
  transform: scale(1) translate(-50%,calc(50vh - 250px));
  left: 50%;
  top: 0;
  width: 500px;
  height: 500px;
  z-index: 10;
}

// "nate beaty" title
h1.title {
  font: italic 24px/1 "Anonymous Pro";
  -webkit-font-smoothing: antialiased;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 11;
  .nate {
    display: block;
    position: absolute;
    right: 0;
    text-align: right;
    top: .4em;
  }
  .beaty {
    top: 0;
    display: block;
    position: absolute;
  }
}

// X close/back button
.x {
  position: fixed;
  right: 80px;
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}
.x::after,
.x::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
}
.x::after{
  transform: rotate(45deg);
}
.x::before{
  transform: rotate(-45deg);
}

// general "in a section" body state
body.in-section {
  .x {
    display: block;
  }
  #natehead {
    cursor: pointer;
    pointer-events: auto;
    transform: scale(.333) translate(-150%, calc(-150px));
    // top: 50px;
  }
  h1.title {
    display: none;
  }
  nav.main {
    height: 0;
    a {
      height: 50px;
      span {
        left: 20px;
      }
      &.journal,
      &.featured {
        span {
          left: auto;
          right: 20px;

        }
      }
    }
  }
}

// general image masonry list (used on comics, featured)
.image-list {
  article {
    width: 25%;
    float: left;
    .wrap {
      padding: 0 10px 0 0;
    }
    margin: 0 0 10px;
    position: relative;
    cursor: pointer;
    a {
      display: block;
    }
    img {
      display: block;
    }
    h1 {
      visibility: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
      margin-right: 20px;
      font: normal 18px/1 "Anonymous Pro", monospace;
      color: #fff;
      background: rgba(0,0,0,.8);
      z-index: 3;
      max-height: 0;
      overflow: hidden;
      transition: max-height .15s, visibility 0s .15s;
      a {
        display: block;
        padding: 8px 10px;
        color: #fff;
        text-decoration: none;
      }
    }
    // &:before {
    //   content: '';
    //   display: block;
    //   opacity: 0;
    //   position: absolute;
    //   left: 0;
    //   top: 100%;
    //   width: 100%;
    //   // background: linear-gradient(8deg, rgba(0, 0, 0, 0.65) 0%, transparent 58%, transparent 50%);
    //   background: rgba(0,0,0,.8);
    //   padding: 10px;
    // }
    &:hover {
      // &:before {
      //   opacity: 1;
      // }
      h1 {
        visibility: visible;
        max-height: 50px;
        transition: max-height .15s, visibility 0s;
      }
    }
  }
}

.pagination {
  width: 750px;
  height: 40px;
  margin: 20px auto;
  position: relative;
  a {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 0;
    &.previous {
      left: 0;
    }
    &.next {
      right: 0;
      transform: rotate(180deg);
    }
    span {
      display: none;
    }
    &.previous::after,
    &.previous::before,
    &.next::after,
    &.next::before {
      position: absolute;
      top: 7px;
      left: 0;
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: #fff;
    }
    &.previous::after,
    &.next::after {
      top: 20px;
      transform: rotate(45deg);
    }
    &.previous::before,
    &.next::before {
      transform: rotate(-45deg);
    }

  }
}

// Section specifics

// comics
body.active-comics {
  #natehead {
    transform: scale(.333) translate(-150%, calc(300vh - 400px));
  }
  nav.main a.journal {
    span {
      left: 0;
      right: 20%
    }
  }
}

// journal
body.active-journal {
  background: $journal;
  #natehead {
    transform: scale(.333) translate(-150%, calc(300vh - 400px));
  }
  .x {
    right: auto;
    left: 60px;
  }
}
article.journal {
  a {
    color: #6ccdf5;
    text-decoration: underline;
  }
}
// custom li'l class for a writing excerpt in a journal entry
.writing-excerpt {
  padding-left: 1.5em;
  border-left: 2px solid #ccc;
  color: #ccc;
}

// animation
body.active-animation {
  background: $animation;
  main {
    padding-top: 150px;
  }
  .x {
    top: 60px;
  }
  nav.main a.featured span {
    left: 0;
    right: 20%
  }
}

// featured
body.active-featured {
  background: $featured;
  main {
    padding: 150px 20px 150px 70px;
  }
  .x {
    right: auto;
    left: 60px;
    top: 60px;
  }
}
